html {
  color: white;
  height: 100%;
}

.image-hero-area {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
margin: 0;
background: url("../images/cubes_background.png") center center no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

hr{
  height: 5px;
  width: 98%;
  margin: 0 0 2% 1%;
  background-color: white;
}

a {
  color: white;
}

a:hover {
  color: black;
}

p {
  font-size: 100%;
  line-height: 2;
}

.headings {
  font-size: 150%;
  color: white;
  text-shadow: 2px 2px #000000;
}

/*----------Navbar----------*/

.navbar {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-shadow: 2px 2px #000000;
}

.navbar-brand {
  font-size: 2rem;
  font-family: 'Rubik', monospace;
  margin-left: 1.5%;
}

/*-----------------Introduction------------*/

.introduction {
  width: 50%;
  margin: 0 25%;
  padding: 1.3em 0;
  text-align: center;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.introduction .intro-intro {
  width: 100%;
  font-size: 300%;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 3px 2px #000000;
  text-align: center;
}


.introduction a {
  font-style:italic;
}
/*---------Shipped Projects---------*/

.projects {
  color: white;
  margin: 0;
}

.shipped-heading-div {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.project-container {
  padding-bottom: 100px;
  justify-content: center;
}

/*--------Student Projects Section----------*/

.sp-image {
  width: 100%;
}

/*---------Contact Page (FORM)----------------*/

.contact-form-heading {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-form {
  color: white;
  text-align: center;
}

form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.form-control {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 45px;
}

form .submit {
  width: 100%;
  background: white;
  border-color: transparent;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 16px;
}

form .submit:hover {
  background: gray;
  color: white;
  cursor: pointer;
}

.form-control::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: white;
  opacity: 1;
}

.form-control::-ms-placeholder {
  color: white;
  opacity: 1;
}

.form-control::placeholder {
  color: white;
  opacity: 1;
}

.form-control:focus {
  color: white;
  background-color: gray;
}

.form-control:enabled {
  color: white;
}

@media screen and (max-width: 992px){

  .introduction {
    width: 75%;
    margin: 0 12.5%;
  }

  .introduction .intro-intro {
    font-size: 125%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1250px){

  .introduction {
    width: 75%;
    margin: 0 12.5%;
  }
}
