html {
  color: white;
  height: 100%;
}

.image-hero-area {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
margin: 0;
background: url("../images/cubes_background.png") center center no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

hr{
  height: 2px;
  width: 98%;
  margin: 0 0 2% 1%;
  background-color: white;
}

a {
  color: white;
}

a:hover {
  color: black;
}

p {
  font-size: 100%;
  line-height: 2;
}

.headings {
  font-size: 150%;
  color: white;
  text-shadow: 2px 2px #000000;
}

header {
  background-color: #000000;
  width: 98%;
  margin-left: 1%;
  border-bottom: 2px solid white;
}

footer {
  background-color: #000000;
  width: 98%;
  margin-left: 1%;
  padding: 25px 0 10px 0;
  border-top: 2px solid white;
}

/*----------Navbar----------*/

.navbar {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-shadow: 2px 2px #000000;
}

.navbar-brand {
  font-size: 2rem;
  font-family: 'Rubik', monospace;
  margin-left: 1.5%;
}

/*-----------------Introduction------------*/

.introduction {
  width: 50%;
  margin: 0 25%;
  padding: 1.3em 0;
  text-align: center;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.introduction .intro-intro {
  width: 100%;
  font-size: 300%;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 3px 2px #000000;
  text-align: center;
}


.introduction a {
  font-style:italic;
}
/*---------Shipped Projects---------*/

.projects {
  color: white;
  margin: 0;
}

.shipped-heading-div {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.project-container {
  padding-bottom: 100px;
  justify-content: center;
}

/*--------Student Projects Section----------*/

.sp-image {
  width: 100%;
}

/*---------Contact Page (FORM)----------------*/

.contact-form-heading {
  margin-top: -10px;
}

.contact-form {
  color: white;
  text-align: center;
}

.contact-icons {
  display: inline;
}

.contact-icon {
  margin: 0 2.5% 3% 2.5%;
}

.footer-heading {
  font-size: 100%;
}

.footer-subheading {
  font-size: 75%;
}

.copyright {
  font-size: 50%;
  color: white;
  margin-top: 10px;
  padding-bottom: -5px;
}

@media screen and (max-width: 992px){

  .introduction {
    width: 75%;
    margin: 0 12.5%;
  }

  .introduction .intro-intro {
    font-size: 125%;
  }

  .footer-heading {
    font-size: 75%;
  }

  .footer-subheading {
    font-size: 50%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1250px){

  .introduction {
    width: 75%;
    margin: 0 12.5%;
  }
}
